@page
@using Microsoft.Extensions.Localization
@using ComToHtri.Localization
@using ComToHtri.Web.Pages.ComToHtri
@model ComToHtri.Web.Pages.ComToHtri.IndexModel
@inject IStringLocalizer<ComToHtriResource> L

@{
}
<h1>ComToHtri</h1>
<p>@L["SamplePageMessage"]</p>
