#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    text-align: center;
    box-sizing: border-box;
}

main.app-shell {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 1rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
